@model CarLotMVC.Models.Ksiazka
@{
    ViewBag.Title = "Parametry";
}

<h2>Parametry</h2>

<p>@ViewBag.MojaZmienna</p>
<p>@ViewBag.MojStrinng</p>
<p>@ViewData["innaSprawa"]</p>
<p>@ViewData["Ksiazka"]</p>
<p>@Model.Autor</p>
    <p>@Model.Cena</p>
    <p>@Model.Tytul</p>

